[submodule ".registry"]
	path = .registry
	url = https://github.com/racheloughton/racheloughton.r-universe.dev
	branch = HEAD
[submodule "PropensityScoreSampling"]
	path = PropensityScoreSampling
	url = https://github.com/RachelOughton/PropensityScoreSampling
