[submodule ".registry"]
	path = .registry
	url = https://github.com/racheloughton/racheloughton.r-universe.dev
	branch = HEAD
[submodule "pss"]
	path = pss
	url = https://github.com/RachelOughton/pss
